<h1>BeeseChurgers!</h1>

<h2>Burgers that are still existing!</h2>



<ul>
  {{#each burgers}}
    {{#unless consumed}}
      {{> burgers/burger-block consumed=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that have been consumed!</h2>

<ul>
  {{#each burgers}}
    {{#if consumed}}
      {{> burgers/burger-block consumed=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="consumed">Consumed?</label><br>
    <input type="radio" name="consumed" value="1" checked> Consumed!
    <br>
    <input type="radio" name="consumed" value="0"> uneaten
  </div>

  <button type="submit">Add Burger</button>
</form>
